*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}
.main-body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.calc{
    width: 400px;
    height: 447px;
    background-color: #ecf0f3;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0, 0,0,.16 );

      margin-top: 85px;
    
}
#screen{
    width: 91%;
    margin-left: 20px;
    height: 33px;
    margin-top: 21px;
    pointer-events: none;
    grid-column: span 4;
    background-color:#929698;
    text-align: end;
    border: none;
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 30px;
            
}
.btn{
    width: 64px;
    height: 39px;
    margin-left: 20px;
    background:#ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px 5px 12px rgba(0, 0,0,.16 );
    border-radius: 25%;
    margin-top: 20px;
    cursor: pointer;
    margin: 16px;
    font-size: 24px;
}